﻿@model PMS.DataInterface.EDMX.revenue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>revenue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.revenue_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.revenue_desc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.revenue_code }) |
    @Html.ActionLink("Back to List", "Index", "UserManagement")
</p>
