﻿@model IEnumerable<PMS.DataInterface.EDMX.revenue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.revenue_desc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.revenue_desc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.revenue_code }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.revenue_code }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.revenue_code })
        </td>
    </tr>
}

</table>
