﻿<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="@Url.Content("~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/global/plugins/select2/css/select2.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css")" rel="stylesheet" type="text/css" />

<!-- BEGIN THEME GLOBAL STYLES -->
<link href="@Url.Content("~/Content/assets/global/css/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />
<link href="@Url.Content("~/Content/assets/global/css/plugins.min.css")" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="@Url.Content("~/Content/assets/layouts/layout2/css/layout.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/layouts/layout2/css/themes/blue.min.css")" rel="stylesheet" type="text/css" id="style_color" />
<link href="@Url.Content("~/Content/assets/layouts/layout2/css/custom.min.css")" rel="stylesheet" type="text/css" />
<!-- END THEME LAYOUT STYLES -->
<link href="@Url.Content("~/Content/assets/apps/css/todo-2.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/apps/css/inbox.min.css")" rel="stylesheet" type="text/css" />
@*<link href="@Url.Content("~/Content/assets/global/plugins/fullcalendar/fullcalendar.min.css")" rel="stylesheet" type="text/css" />*@

<link href="@Url.Content("~/Content/assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
@*<link href="@Url.Content("~/Content/rating/rating.css")" rel="stylesheet" type="text/css" />*@

<link href="@Url.Content("~/Content/assets/global/plugins/typeahead/typeahead.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/assets/global/plugins/typeahead/handlebars.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/global/plugins/typeahead/typeahead.bundle.min.js")" type="text/javascript"></script>


<link href="@Url.Content("~/Content/assets/apps/css/todo.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/assets/apps/scripts/todo.min.js")" type="text/javascript"></script>

<link rel="shortcut icon" href="favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

<!--[if lt IE 9]>
 <script src="@Url.Content("~/Content/assets/global/plugins/respond.min.js")"></script>
 <script src="@Url.Content("~/Content/assets/global/plugins/excanvas.min.js")"></script>
 <script src="@Url.Content("~/Content/assets/global/plugins/ie8.fix.min.js")"></script>
 <![endif]-->
<!-- BEGIN CORE PLUGINS -->
@*<script src="@Url.Content("~/Content/assets/global/plugins/jquery.min.js")" type="text/javascript"></script>*@

@*<script src="@Url.Content("~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/global/plugins/js.cookie.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/global/plugins/jquery.blockui.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")" type="text/javascript"></script>*@
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="@Url.Content("~/Content/assets/global/plugins/moment.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/global/plugins/morris/morris.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/global/plugins/morris/raphael-min.js")" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="@Url.Content("~/Content/assets/global/scripts/app.min.js")" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/global/plugins/select2/js/select2.full.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Content/assets/pages/scripts/dashboard.min.js")" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="@Url.Content("~/Content/assets/layouts/layout2/scripts/layout.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/layouts/layout2/scripts/demo.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/layouts/global/scripts/quick-sidebar.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/layouts/global/scripts/quick-nav.min.js")" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<script src="@Url.Content("~/Content/assets/apps/scripts/inbox.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/apps/scripts/todo-2.min.js")" type="text/javascript"></script>

@*<script src="@Url.Content("~/Scripts/Metronic/Datatables/datatables.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Content/assets/global/plugins/datatables/datatables.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")" type="text/javascript"></script>*@


@*<script src="@Url.Content("~/Content/assets/global/plugins/fullcalendar/fullcalendar.min.js")" type="text/javascript"></script>*@
@*<script src="@Url.Content("~/Content/assets/global/plugins/jquery-ui.min.js")" type="text/javascript"></script>*@
@*<script src="@Url.Content("~/Content/assets/apps/scripts/calendar.min.js")" type="text/javascript"></script>*@
@*<script src="@Url.Content("~/Content/rating/rating.js")" type="text/javascript"></script>*@

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout_Draft.cshtml";
    Layout = null;

    List<PMS.DataInterface.Data.Action> actions = ViewBag.Actions as List<PMS.DataInterface.Data.Action>;
}

<script>

    function loadHtml(href) {

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", href, false);
        xmlhttp.send();

        return xmlhttp.responseText;
    }

    function displayUserCard(userData) {
        var userCard = loadHtml('@Url.Content("~/Content/Components/_UserCard.html")');

        userCard = userCard.replace("@@username", userData["UserName"]);
        userCard = userCard.replace("@@jobDescription", userData["JobDescription"]);
        userCard = userCard.replace("@@userIdentifier", userData["Id"]);

        return userCard;
    }

    var ComponentsTypeahead = function () {

        var handleTypeahead = function (componentId) {

            var lastActiveDataset;
            var id = componentId;

            var users = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.whitespace,
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: "@Url.Action("GetUsers", "Forwarding")",
                    replace: function (url, query) {
                        return url + "/" + query;
                    },
                    transform: function (response) {

                        lastActiveDataset = response;

                        return response;
                    },
                    ajax: {
                        type: "GET",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",

                    }
                }
            });

            users.initialize();

            if (App.isRTL()) {
                $('#' + id).attr("dir", "rtl");
            }
            $('#' + id).typeahead(null, {
                displayKey: 'UserName',
                hint: (App.isRTL() ? false : true),
                source: users
            });

            $('#' + id).bind('typeahead:asyncrequest', function (ev, suggestion) {

                var relevantContainerId = "#" + ev.target.id + "TilesContainer";
                var relevantContainer = $(relevantContainerId);

                relevantContainer.html("<i class='fa fa-spinner'></i> loading...");
            });

            $('#' + id).bind('typeahead:asyncreceive', function (ev) {

                var relevantContainerId = "#" + ev.target.id + "TilesContainer";
                var relevantContainer = $(relevantContainerId);

                relevantContainer.html('');

                $.each(lastActiveDataset, function (index, user) {

                    relevantContainer.append(displayUserCard(user));

                });
            });

            $('#' + id).bind('typeahead:asynccancel', function (ev) {

                var relevantContainerId = "#" + ev.target.id + "TilesContainer";
                var relevantContainer = $(relevantContainerId);

                relevantContainer.html("start by searching for some users");
            });

        }

        return {

            init: function () {

                handleTypeahead('selectUserTypeahead');
                handleTypeahead('fromUsersTypeahead');
                handleTypeahead('notifyUsersTypeahead');

            }
        };

    }();

    function resetActionItems() {
        $('.todo-projects-item').each(function (i, item) {
            $(item).removeClass('todo-active');
        });
    }

    function selectActionItem(item) {

        var currentData = item.data('action');

        console.log(JSON.stringify(currentData));

        item.addClass('todo-active');

        $('#setupCurrentAction').html(currentData['Action1']);

        $('#setupInformativeMessage').hide();

        $('.setupRelated').show();

    }

    function userSelectionInitialised() {
        $('#actionInformativeMessage').remove();

        $('.todo-projects-item').show();
    }

    jQuery(document).ready(function () {
        ComponentsTypeahead.init();

        $('.todo-projects-item').click(function () {
            resetActionItems();

            selectActionItem($(this));

        });

        $('#applyButton').click(function () {

            var activities = new Array();

            var selectedUsers = $('#selectUserTypeaheadTilesContainer').find('.selected').data('user');

            if (selectedUsers == null) {
                alert('You have to select a user');
            }

            var selectedAction = $('.todo-projects-container').find('.todo-active').data('action');

            if (selectedAction == null) {
                alert('You have to select an action');
            }

            var fromUsers = $('#fromUsersTypeaheadTilesContainer').find('.selected').data('user');

            if (fromUsers == null) {
                alert('You have to select from users');
            }

            var notifyUsers = $('#notifyUsersTypeaheadTilesContainer').find('.selected');

            $('#selectUserTypeaheadTilesContainer').find('.selected').each(function (selectedUserIndex, selectedUser) {
                $('#fromUsersTypeaheadTilesContainer').find('.selected').each(function (fromUserIndex, fromUser) {
                    $('#notifyUsersTypeaheadTilesContainer').find('.selected').each(function (notifyUserIndex, notifyUser) {

                        var activity = new Object();

                        activity['SourceUserIdentifier'] = $(selectedUser).data('user');
                        activity['ActionIdentifier'] = selectedAction['ActionKey'];
                        activity['Activity1'] = "CanRequest";
                        activity['DestinationUserIdentifier'] = $(fromUser).data('user');
                        activity['WatcherUserIdentifier'] = $(notifyUser).data('user');

                        activities.push(activity);

                    });
                });
            });

            $.ajax({
                type: 'POST',
                url: '@Url.Action("setupActivity", "Forwarding")',
                data: "configuration=" + JSON.stringify(activities),
                dataType: "text",
                success: function (data) {
                },
                failure: function (error) {
                }
            });

        });

    });
</script>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-user font-green"></i>
                    <span class="caption-subject font-green bold uppercase"> 1- Select User</span>
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <input type="text" id="selectUserTypeahead" name="selectUserTypeahead" class="form-control" />
                    </div>
                    <p class="help-block"> start by searching </p>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-card mt-element-overlay">
                    <div class="row">
                        <div class="tiles" id="selectUserTypeaheadTilesContainer">
                            <div id="setupInformativeMessage">
                                <h4 class="uppercase"><i class="fa fa-info-circle"></i> Here you can setup forwarding for a specifc user. </h4>
                                <p class="c-font-lowercase">Here goes a decription of what to do here. Consult with Chelhot.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="todo-container">
        <div class="col-md-5">
            <ul class="todo-projects-container">
                <li class="todo-padding-b-0">
                    <div class="todo-head">
                        <h3>2- Select Action</h3>
                    </div>
                </li>
                <li class="todo-projects-item" id="actionInformativeMessage">
                    <div>
                        <h4 class="uppercase"><i class="fa fa-info-circle"></i> Select a user to start </h4>
                        <p class="c-font-lowercase">Here goes a decription of what to do here. Consult with Chelhot.</p>
                    </div>
                </li>
                @{
                    foreach (PMS.DataInterface.Data.Action action in actions)
                    {
                        <li class="todo-projects-item" style="display:none;" data-action="@Json.Encode(action)">
                            <h3>@action.Action1</h3>
                            <p>@action.Description</p>
                            <div class="todo-project-item-foot">
                                <p class="todo-red todo-inline">From 10 users</p>
                                <p class="todo-inline todo-float-r">
                                    Notify 10
                                </p>
                            </div>
                        </li>
                        <div class="todo-projects-divider"></div>
                    }
                }
            </ul>
        </div>
        <div class="col-md-7">
            <div class="todo-tasks-container">
                <div id="setupContainer">
                    <div class="todo-head">
                        <h3>
                            <span class="todo-grey">3- Setup</span> <span id="setupCurrentAction"></span>
                        </h3>
                    </div>
                    <div id="setupInformativeMessage">
                        <h4 class="uppercase"><i class="fa fa-info-circle"></i> Select an action to start </h4>
                        <p class="c-font-lowercase">Here goes a decription of what to do here. Consult with Chelhot.</p>
                    </div>
                    <ul class="todo-tasks-content setupRelated" style="display:none;">
                        <li class="todo-tasks-item">
                            <div>
                                <div class="portlet light portlet-fit ">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span class="caption-subject font-dark bold uppercase">From:</span>
                                        </div>
                                        <div class="col-sm-6 pull-right">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                <input type="text" id="fromUsersTypeahead" name="fromUsersTypeahead" class="form-control" />
                                            </div>
                                            <p class="help-block"> start by searching </p>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="mt-element-card mt-element-overlay">
                                            <div class="row">
                                                <div class="tiles" id="fromUsersTypeaheadTilesContainer">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="todo-tasks-item">
                            <div>
                                <div class="portlet light portlet-fit ">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span class="caption-subject font-dark bold uppercase">Notify:</span>
                                        </div>
                                        <div class="col-sm-6 pull-right">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                <input type="text" id="notifyUsersTypeahead" name="notifyUsersTypeahead" class="form-control" />
                                            </div>
                                            <p class="help-block"> start by searching </p>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="mt-element-card mt-element-overlay">
                                            <div class="row">
                                                <div class="tiles" id="notifyUsersTypeaheadTilesContainer">

                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div>
                        <button class="btn blue btn-block setupRelated" id="applyButton" style="display:none;">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
