﻿@model PMS.DataInterface.EDMX.party

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>party</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.party_group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.party_group)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.party_desc }) |
    @Html.ActionLink("Back to List", "Index", "UserManagement")
</p>
