﻿@model IEnumerable<PMS.DataInterface.EDMX.party>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.party_group)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.party_group)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.party_desc }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.party_desc }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.party_desc })
        </td>
    </tr>
}

</table>
