﻿
@{
    //ViewBag.Title = "Index";
    string viewName = ViewBag.ViewName == null ? "CreateUserStepOne" : ViewBag.ViewName;
}
<style type="text/css">
    .modal-dialog {
        float: left;
        margin-left: 30% !important;
        position: static !important;
    }
</style>

<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">@*Local CSS Not Working*@
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-dialog/bootstrap-dialog.css")" />

    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/bootstrap-dialog/bootstrap-dialog.js")" type="text/javascript"> </script>
</head>
<body>
    <div class="portlet" style="padding-top:50px;">
        <div class="portlet-title">

            <div class="actions btn-set" style="width:100%">
                <div id="PageTitle" class="caption" style="display:none;float:left;">
                    <i class="fa fa-user fa-2x" aria-hidden="true"></i> <b style="font-size:2rem;">User Management</b>
                </div>
                <button id="btnSkip" class="btn btn-warning" style="display:none;float:right;">
                    <i class="fa fa-check"></i> Skip & Submit
                </button>
                <button id="btnFinish" class="btn btn-success" style="display:none;float:right;">
                    <i class="fa fa-check"></i> Finish
                </button>
                @*<button id="btnCreateUserAndContinue" class="btn btn-success" style="display:none;float:right;">
                    <i class="fa fa-check"></i> Create And Continue
                </button>
                <button id="btnCreateUser" class="btn btn-warning" style="display:none;float:right;">
                    <i class="fa fa-check"></i> Create User
                </button>*@
                <button id="btnSave" class="btn btn-success" style="display:none;float:right;">
                    <i class="fa fa-check"></i> Submit
                </button>
                <button id="btnBack" type="button" name="back" class="btn btn-secondary-outline btn-danger" style="display:none;float:right;">
                    <i class="fa fa-angle-left"></i> Back
                </button>
                @*<button id="btnReset" class="btn btn-secondary-outline" style="display:none;float:right;margin-right:30px;">
                    <i class="fa fa-reply"></i> Reset
                </button>*@
            </div>
        </div>
    </div>
    @*<div class="portlet-body centered" style="display:none;">
        <div class="mt-element-step">
            <div class="row step-line">
                <div class="col-md-4 mt-step-col first stepOne" style="cursor:pointer;">
                    <div class="mt-step-number bg-white" style="height: 40px;width: 40px;padding:0px;">
                        1
                    </div>
                    <div class="mt-step-title uppercase font-grey-cascade">Create User</div>
                    <div class="mt-step-content font-grey-cascade">Fill basic information</div>
                </div>
                <div id="step2" class="col-md-4 mt-step-col stepTwo" style="cursor:pointer;">
                    <div class="mt-step-number bg-white" style="height: 40px;width: 40px;padding:0px;">
                        2
                    </div>
                    <div class="mt-step-title uppercase font-grey-cascade">Give Actions</div>
                    <div class="mt-step-content font-grey-cascade">Assign actions & individuals</div>
                </div>
                <div id="step3" class="col-md-4 mt-step-col stepThree" style="cursor:pointer;">
                    <div class="mt-step-number bg-white" style="height: 40px;width: 40px;padding:0px;">
                        3
                    </div>
                    <div class="mt-step-title uppercase font-grey-cascade">Messaging System</div>
                    <div class="mt-step-content font-grey-cascade">Route messages</div>
                </div>
            </div>
        </div>
    </div>*@
    <div id="fillView">
        @*@Html.Action("CreateUser", "UserManagement");*@
    </div>

    <script type="text/javascript">
            $(document).ready(function () {
                @*Call First User Page*@
                $.ajax({
                    url: '@Url.Action("GetView", "UserManagement")',
                    data: {
                        ViewName: "@viewName"
                    },
                    beforeSend: function (data) {
                        $('#fillView').html('<img src="@Url.Content("~/Images/loader.gif")" alt="Loader" style="margin-left:17%;width:600px;height:530px;">');
                    },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $('#fillView').html(data);
                        $('.portlet-body').show();



                        if ('@viewName' == "CreateUserStepOne") {
                            $("#btnReset").show();
                            $("#btnCreateUserAndContinue").show();
                            $("#btnCreateUser").show();
                            //$("#btnSave").show();
                            $("#PageTitle").show();
                        }

                        if ('@viewName' == "CreateUserStepTwo") {
                            $("#btnReset").show();
                            $("#btnSave").show();
                            $("#btnBack").show();
                            $("#PageTitle").show()
                        }

                        if ('@viewName' == "CreateUserStepThree") {
                            $("#btnReset").show();
                            $("#btnBack").show();
                            $("#btnSkip").show();
                            $("#btnFinish").show();
                            $("#PageTitle").show();
                        }
                    }
                });

                if ('@viewName' == "CreateUserStepOne") {
                    $(".stepOne").addClass('active');

                    @*$("#btnCreateUserAndContinue").click(function () {
                        var username = $("#username_text").val();
                        var password = $("#password_text").val();
                        var confirmpassword = $("#confirmpassword_text").val();
                        var firstname = $("#firstname_text").val();
                        var lastname = $("#lastname_text").val();


                        if (username && password && confirmpassword && firstname && lastname)
                            {
                            if (password.length < 6) {
                                $("#passwordlengtherror").css("display", "block");
                            }
                            else {
                                if (password === confirmpassword) {

                                    BootstrapDialog.show({
                                        message: 'Step One Completed'
                                    });
                                    $.ajax({
                                        url: '@Url.Action("RegisterUser", "UserManagement",new { viewName = "CreateUserStepTwo" })',
                                        beforeSend: function (data) {
                                            $('.portlet-title').hide();
                                            $('.portlet-body').hide();
                                            $('#fillView').html('<img src="@Url.Content("~/Images/loader.gif")" alt="Loader" style="margin-left:17%;width:600px;height:530px;">');
                                        },
                                        data: {
                                            UserName: $('#username_text').val(),
                                            Password: $('#password_text').val(),
                                            FirstName: $('#firstname_text').val(),
                                            LastName: $('#lastname_text').val(),
                                            PhoneNumber: $('#phone_text').val(),
                                            Address: $('#address_text').val(),
                                            JobDescription: $('#jobdescription_text :selected').text(),
                                            UserType: $('#user_role').val(),
                                            Kadaa: $('#user_kadaa :selected').text(),
                                            Mouhafaza: $('#user_mohafaza').text(),
                                            Balda: $('#user_balda :selected').text(),
                                            Notes: $("#usernotes_text").val(),
                                            Role: $("#user_role").val()
                                        },
                                        type: 'Get',
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        success: function (data) {
                                            window.location.href = '@Url.Action("Index", "UserManagement", new { viewName = "CreateUserStepTwo" })';
                                            $('.portlet-title').show();
                                        }
                                    });
                               }
                                else {
                                    $("#passworderror").css("display", "block");
                                }
                            }
                        }
                    });*@


                    @*$("#btnCreateUser").click(function () {
                        var username = $("#username_text").val();
                        var password = $("#password_text").val();
                        var confirmpassword = $("#confirmpassword_text").val();
                        var firstname = $("#firstname_text").val();
                        var lastname = $("#lastname_text").val();
                        if (username && password && confirmpassword && firstname && lastname)
                        {
                            if (password.length < 6) {
                                $("#passwordlengtherror").css("display", "block");
                            }
                            else{
                            if (password === confirmpassword) {
                                $("#passworderror").css("display", "none");
                        $.ajax({
                            url: '@Url.Action("RegisterUser", "UserManagement",new { viewName = "CreateUserStepTwo" })',
                            data: {
                                UserName: $('#username_text').val(),
                                Password: $('#password_text').val(),
                                FirstName: $('#firstname_text').val(),
                                LastName: $('#lastname_text').val(),
                                PhoneNumber: $('#phone_text').val(),
                                Address: $('#address_text').val(),
                                JobDescription: $('#jobdescription_text :selected').text(),
                                UserType: $('#user_role').val(),
                                Kadaa: $('#user_kadaa :selected').text(),
                                Mouhafaza: $('#user_mohafaza').text(),
                                Balda: $('#user_balda :selected').text(),
                                Notes: $("#usernotes_text").val(),
                                Role: $("#user_role").val()
                            },
                            type: 'Get',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {

                                $('#username_text').val('');
                                $('#password_text').val('');
                                $('#firstname_text').val('');
                                $('#lastname_text').val('');
                                $('#phone_text').val('');
                                $('#address_text').val('');
                                $('#user_role').val('Admin').change();
                                $('#user_mohafaza').val('');
                                $("#usernotes_text").val('');
                                $("#confirmpassword_text").val('');
                                $("#user_kadaa").select2("val", "");
                                $("#user_balda").select2("val", "");
                                $("#user_neighborhood").select2("val", "");
                                $("#jobdescription_text").select2("val", "");
                                BootstrapDialog.alert('User has been created!!');

                                $("#basicInfoTabID").click();

                            }
                        });
                            }
                            else {
                                $("#passworderror").css("display", "block");
                            }
                            }
                        }
                    });*@

                    $("#btnReset").click(function () {
                        $('#username_text').val('');
                        $('#password_text').val('');
                        $('#firstname_text').val('');
                        $('#lastname_text').val('');
                        $('#phone_text').val('');
                        $('#address_text').val('');
                        $('#jobdescription_text').val('');
                        $('#user_role').val('');
                    });
                }

                @*if ('@viewName' == "CreateUserStepTwo") {
                    $('.stepOne').addClass('done');
                    $('.stepTwo').addClass('active');

                    $("#btnSave").click(function () {
                        //$('.portlet-title').hide();
                        //$('.portlet-body').hide();
                        BootstrapDialog.show({
                            message: 'Step Two Completed'
                        });

                        var hash = "";

                        $("#filteredByLabel li").each(function (index) {
                            if (index > 0) {
                                hash += " AND "
                            }
                            hash += $(this).attr("data-query");
                        });

                        var table = $("#individualsDatatable").DataTable();
                        table.rows('.selected').eq(0).each(function (index) {
                            var row = table.row(index);
                            var data = row.data();

                            if (hash.length > 0) {
                                hash += " AND ";
                            }

                            hash += "Name = '" + data.Name + "' AND FatherName = '" + data.FatherName + "' AND MotherName = '" + data.MotherName + "' AND RegistrationNumber = '" + data.RegistrationNumber +"'";

                        });

                        $.ajax({
                            url: '@Url.Action("AssignIndividualsToUser", "UserManagement",new { viewName = "CreateUserStepTwo" })',
                            data: {
                                UserName: '@User.Identity.Name',
                                Hash: hash
                            },
                            type: 'Get',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                window.location.href = '@Url.Action("Index", "UserManagement", new { viewName = "CreateUserStepThree" })';
                            }
                        });
                    });

                    $("#btnBack").click(function () {
                        window.location.href = '@Url.Action("Index", "UserManagement", new { viewName = "CreateUserStepOne" })';

                    });

                    $("#btnReset").click(function () {
                        $('input:checkbox').removeAttr('checked');
                        $('#individual_columns').val(1);
                        $('#individual_columns_text').val('');
                    });
                }*@

                @*if ('@viewName' == "CreateUserStepThree") {

                    $('.stepOne').addClass('done');
                    $('.stepTwo').addClass('done');
                    $('.stepThree').addClass('active');


                    $("#btnBack").click(function () {
                        window.location.href = '@Url.Action("Index", "UserManagement", new { viewName = "CreateUserStepTwo" })';
                    });

                    $("#btnReset").click(function () {
                        $('input:checkbox').removeAttr('checked');
                        $('#individual_columns').val(1);
                        $('#individual_columns_text').val('');
                    });

                    $("#btnFinish").click(function () {
                        BootstrapDialog.show({
                            message: 'Step Three Completed'
                        });

                        window.location.href = '@Url.Action("Index", "Home", new { viewName = "CreateUserStepOne" })';
                    });
                }*@

            });

            $(".stepOne").click(function () {
                window.location.href = '@Url.Action("Index", "UserManagement", new { viewName = "CreateUserStepOne" })';
            });
            $(".stepTwo").click(function () {
                window.location.href = '@Url.Action("Index", "UserManagement", new { viewName = "CreateUserStepTwo" })';
            });
            $(".stepThree").click(function () {
                window.location.href = '@Url.Action("Index", "UserManagement", new { viewName = "CreateUserStepThree" })';
            });

        function RemoveRequestVisit(ID) {
    $(ID).remove();
        }
        function RemoveRequestCall(ID) {
            $(ID).remove();
        }
        
        function RemoveRequestVisit_forward(ID) { @*Edit By Hussein*@
            $(ID).remove();
        }

        function RemoveRequestCall_forward(ID)@*Edit By Hussein*@
        {
            $(ID).remove();
            }
    </script>
</body>
</html>
