﻿@model IEnumerable<PMS.DataInterface.EDMX.country>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.countries_desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.countries_arabic)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.countries_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.countries_arabic)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.countries_code }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.countries_code }) |*@
                @Html.ActionLink("Delete", "Delete", new { id=item.countries_code })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
