﻿@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<style type="text/css">
    .body{height:100%;
        width:100%;
        /*background-image:url(image.jpg);/*your background image*/ 
        background-repeat:no-repeat;/*we want to have one single image not a repeated one*/  
        background-size:cover;/*this sets the image to fullscreen covering the whole screen*/  
        /*css hack for ie*/     
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
        -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";
    }
</style>

<html>
<body background="@Url.Content("~/Images/people-management-strategy.png")" style="height:100%;width:100%;background-repeat:no-repeat;background-size:cover;overflow:hidden;">

</body>
</html>
@*<div class="row">

</div>*@