﻿
@{
    List<SelectListItem> userColumns = new List<SelectListItem>(){
        new SelectListItem() {Text="FirstName", Value="1"},
        new SelectListItem() { Text="LastName", Value="2"},
        new SelectListItem() { Text="Email", Value="3"},
        new SelectListItem() { Text="UserName", Value="4"},
        new SelectListItem() { Text="Address", Value="5"},
        new SelectListItem() { Text="JobDescription", Value="6"},
        new SelectListItem() { Text="UserType", Value="7"}
        };

    List<SelectListItem> ListOperatorsForCharacters = new List<SelectListItem>(){
        new SelectListItem() {Text="Like", Value="LIKE"},
        new SelectListItem() { Text="Equals", Value="="}
        };
}

<style type="text/css">
    .centered {
        display: table;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
        width: 100%;
    }

    body {
        background: #eff3f8 !important;
    }

    .page-head {
        background: #fff !important;
    }

    .portlet {
        margin-top: 18px !important;
    }

    .addButton {
        padding-top: 7px;
        font-size: 2.3rem !important;
        margin-left: 8px;
        cursor: pointer;
        color: blue;
    }

    .deleteButton {
        padding-top: 7px;
        font-size: 2.3rem !important;
        margin-left: 8px;
        cursor: pointer;
        color: red;
    }
</style>

@*<h2>CreateUser</h2>*@

<html>
<head>
    <link rel="stylesheet" href="@Url.Content("~/Content/Metronic/components.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Metronic/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Metronic/plugins.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Metronic/Datatables/datatables.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Metronic/Datatables/datatables.bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Select2/select2.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Metronic/layout.min.css")" />

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/Metronic/Datatables/datatable.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/Metronic/Datatables/datatables.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/Metronic/Datatables/datatables.bootstrap.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Content/Select2/select2.full.min.js")" type="text/javascript"> </script>
</head>

<body class="page-wrapper-middle">

    <div class="portlet">
        @*<div class="portlet-title">
                <div class="caption">
                    <i></i>Create User - Step 3
                </div>
                <div class="actions btn-set">
                    <button id="btnBack" type="button" name="back" class="btn btn-secondary-outline btn-danger">
                        <i class="fa fa-angle-left"></i> Back
                    </button>

                    <button class="btn btn-success">
                        <i class="fa fa-check"></i> Finish
                    </button>
                    <button class="btn btn-warning">
                        <i class="fa fa-check"></i> Skip & Submit
                    </button>
                </div>
            </div>*@

        <div class="portlet-body">
            <div class="tabbable-bordered">
                @*Navigation tabs*@
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_userNotificationFlow" data-toggle="tab">User Notification Flow </a>
                    </li>
                </ul>


                <div class="tab-content">
                    <div class="tab-pane active" id="tab_userNotificationFlow">
                        <div class="table-container">
                            <div class="form-group" style="display:-webkit-inline-box;">
                                <label for="inputdefault">Search By</label>
                                @Html.DropDownList("user_columns", userColumns, new { @style = "width:200px;" })
                                @Html.DropDownList("operators_columns", ListOperatorsForCharacters, new { @style = "width:200px;margin-left:10px;" })
                                <input class="form-control" id="user_columns_text" style="margin-left:10px;height:28px;" type="text" onkeypress="runButtonPressedScript(event)">
                                <i class="fa fa-plus-circle addButton" aria-hidden="true"></i>
                            </div>
                            <br />
                            <div id="filteredByHolder" class="form-group" style="display:none;">
                                <label for="inputdefault">Filtered By : </label>
                                <ul id="filteredByLabel"> Selected Users are assigned to : </ul>
                                <i class="fa fa-trash deleteButton" aria-hidden="true"></i>
                            </div>
                            <br />
                            <div id="managedByActionHolder" class="form-group" style="display:none;">
                                <label for="inputdefault">Action </label>
                                <select id="actions_columns" style="width:200px;"></select>
                                <label for="inputdefault"> Responsible </label>
                                <select id="users_columns" style="width:200px;"></select>
                                <i id="assignUsersByRoles" class="fa fa-plus-circle" style="cursor:pointer;color:red;" aria-hidden="true"></i>
                            </div>
                            <br />
                            <div id="managedByHolder" class="form-group" style="display:none;">
                                <ul id="managedByLabel"></ul>
                                <i id="deleteUsersByRoles" class="fa fa-trash" style="cursor:pointer;color:red;" aria-hidden="true"></i>
                            </div>
                            <table class="table table-striped table-bordered table-hover" id="usersDatatable">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th width="5%"><input name="select_all" value="1" type="checkbox"></th>
                                        <th width="5%">FirstName</th>
                                        <th width="10%">LastName</th>
                                        <th width="10%">Email</th>
                                        <th width="20%">UserName</th>
                                        <th width="10%">Address</th>
                                        <th width="10%">JobDescription</th>
                                        <th width="10%">UserType</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script type="text/javascript">

        $(document).ready(function () {
            $("#user_columns").select2();
            $("#operators_columns").select2();
            $("#actions_columns").select2();
            $("#users_columns").select2();

            // DataTable
            var table = $('#usersDatatable').DataTable({
                //select: {
                //    style: 'multi'
                //},
                'columnDefs': [{
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                    'width': '1%',
                    'className': 'dt-body-center',
                    'render': function (data, type, full, meta){
                        return '<input type="checkbox">';
                    }
                }],
                "sAjaxSource": '@Url.Action("getUsers", "UserManagement")',
                "columns": [
                    { "data": "CheckBox" },
                    { "data": "FirstName" },
                    { "data": "LastName" },
                    { "data": "Email" },
                    { "data": "UserName" },
                    { "data": "Address" },
                    { "data": "JobDescription" },
                    { "data": "UserType" }
                ],
                "initComplete": function (settings, json) {
                    $('#usersDatatable input[type="checkbox"]').click(function () {
                        var count = $("input[type='checkbox']:checked").length;
                        if (count == 0) {
                            $("#managedByActionHolder").hide();
                        } else {
                            console.log('$("#filteredByLabel li").length = ' + $("#filteredByLabel li").length);
                            if ($("#filteredByLabel li").length > 0) {
                                $("#managedByActionHolder").show();
                            }
                        }
                    });
                }
            });

            $("#usersDatatable_filter").hide();

            $.ajax({
                url: '@Url.Action("getActions", "UserManagement")',
                type: 'Get',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    for (var i = 0; i < data.length ; i++) {
                        $("#actions_columns").append('<option value="' + data[i].ActionKey + '">' + data[i].Action + '</option>');
                    }
                    $("#actions_columns").val('1').change();
                }
            });

            $.ajax({
                url: '@Url.Action("getUsers", "UserManagement")',
                type: 'Get',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (json) {
                    $.each(json.data, function (i, value) {
                        $('#users_columns').append($('<option>').text(value.UserName).attr('value', i + 1));
                    });
                    $("#users_columns").val('1').change();
                }
            });

            $('#user_columns_text').on('keyup', function () {
                console.log("key pressed");
                var columnNumberSelected = $("#user_columns :selected").val();
                var textToSearch = $("#user_columns_text").val();

                table
                    .columns(columnNumberSelected)
                    .search(textToSearch)
                    .draw();
            });


            $(".addButton").on('click', function () {

                var count = $("input[type='checkbox']:checked").length;

                if (count == 0) {
                    return;
                } else {
                    var columnNumberSelected = $("#user_columns :selected").val();
                    //var textToSearch = $("#user_columns_text").val();
                    var textToSearch = $("#user_columns_text").val();
                    var operatorSelected = $(this).parent().parent().select('td :nth-child(3)').text();

                    //$("input[type='checkbox']:checked").each(function () {
                    //    console.log($(this).parent().parent().select('td :eq(3)').text());
                    //});

                    $("#filteredByHolder").css('display', '-webkit-inline-box');
                    $("#filteredByLabel").append('<li value="' + operatorSelected + '" data-query="' + $("#user_columns :selected").text() + ' ' + operatorSelected + ' \'' + textToSearch + '\'">' + $("#user_columns :selected").text() + ' ' + $("#operators_columns :selected").text() + ' ' + textToSearch + ' </li>');
                }
            });

            $(".deleteButton").on('click', function () {
                $("#filteredByHolder").css('display', 'none');
                $("#filteredByLabel").html("");
                $("#user_columns_text").val("");
                table
                    .search('')
                    .columns().search('')
                    .draw();

                for (var i = 1; i < '@userColumns.Count'; i++) {
                    $.fn.dataTable.ext.search.splice($.fn.dataTable.ext.search.indexOf(i, 1));
                }

                table.draw();
            });

            $("#assignUsersByRoles").on('click', function () {
                $("#managedByHolder").show();

                $("#managedByLabel").append('<li>' + $("#users_columns :selected").text() + ' is notified for ' + $("#actions_columns :selected").text() + '</li>');
            });

            $("#deleteUsersByRoles").on('click', function () {
                $("#managedByHolder").hide();

                $("#managedByLabel").html('');
            });
        });



        function runButtonPressedScript(e) {
            if (e.keyCode == 13) {
                $('.addButton').click();
            }
        }

    </script>


</body>
</html>

